<div class="inner-content">
  <div class="general-info-section">
    <div class="content">
      <div class="info-block">
        <h1>What is it?</h1>
        <span>Well, it's a hackathon.</span>
      </div>
      <div class="info-block">
        <h1>When is it?</h1>
        <span>7-8 March, 2020.</span>
      </div>
      <div class="info-block">
        <h1>Where is it?</h1>
        <span>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10694.306059136974!2d-3.2245290069146137!3d55.93293836005925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7094d1a3ff9%3A0x63b967e8d1488094!2sEdinburgh%20Napier%20University%2C%20Merchiston%20Campus!5e0!3m2!1sen!2suk!4v1579364772886!5m2!1sen!2suk" width="100%" height="300" style="border:0;" allowfullscreen="" title="Location"></iframe>
        </span>
      </div>



    </div>
  </div>
  <div class="event-sponsor-section">
    <div class="content">

      <div class="info-block">
        <h1 class="gray"><span class="purple">Event</span> Sponsors</h1>
      </div>
   
      
 
      <mat-grid-list cols="4" rowHeight="2:1">
        <!-- Headline -->
        <mat-grid-tile colspan="4">
          sponsor 1
        </mat-grid-tile>
        <!-- Gold-->
        <mat-grid-tile colspan="2">
          sponsor 2
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          sponsor 3
        </mat-grid-tile>
        <!-- Silver -->
        <mat-grid-tile colspan="1">
          sponsor 4
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          sponsor 5
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          sponsor 6
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          sponsor 7
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <div class="registration-section">
    <div class="content">
      <div class="info-block">
        <h1>Event Schedule</h1>
      </div>
        
      <app-timeline></app-timeline>
    
    </div>
  </div>

  <div class="faq-section">
    <div class="content">
      <div class="info-block">
        <h1 class="gray"><span class="purple">Frequently</span> Asked Questions</h1>
      </div>    
    </div>
  </div>
</div>

<router-outlet></router-outlet>