
<mat-tab-group>
    <mat-tab label="Day 1">
        <section id="cd-timeline" class="cd-container">
    
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                </div>
                <div class="cd-timeline-content">
                    <h2>Arrival &amp; Registration</h2>
                    <span class="cd-date">10:00</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                </div> <!-- cd-timeline-img -->
                <div class="cd-timeline-content">
                    <h2>Welcome Talk</h2>
                    <span class="cd-date">11:00</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                </div>
                <div class="cd-timeline-content">
                    <h2>Team Formation</h2>
                    <span class="cd-date">11:30</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                </div> <!-- cd-timeline-img -->
                <div class="cd-timeline-content">
                    <h2>Hacking Begins</h2>
                    <span class="cd-date">12:00</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                </div>
                <div class="cd-timeline-content">
                    <h2>Lunch</h2>
                    <span class="cd-date">13:00</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                </div> <!-- cd-timeline-img -->
                <div class="cd-timeline-content">
                    <h2>Dinner</h2>
                    <span class="cd-date">19:00</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        </section> <!-- cd-timeline -->
    </mat-tab>
    <mat-tab label="Day 2">
        <section id="cd-timeline" class="cd-container">
            
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                </div>
                <div class="cd-timeline-content">
                    <h2>Midnight Pizza</h2>
                    <span class="cd-date">00:00</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                </div> <!-- cd-timeline-img -->
                <div class="cd-timeline-content">
                    <h2>Breakfast</h2>
                    <span class="cd-date">09:00</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                </div>
                <div class="cd-timeline-content">
                    <h2>Hacking Ends</h2>
                    <span class="cd-date">12:00</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                </div> <!-- cd-timeline-img -->
                <div class="cd-timeline-content">
                    <h2>Demonstrations Begin</h2>
                    <span class="cd-date">12:30</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                </div>
                <div class="cd-timeline-content">
                    <h2>Lunch</h2>
                    <span class="cd-date">13:30</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                </div> <!-- cd-timeline-img -->
                <div class="cd-timeline-content">
                    <h2>Winners Announced</h2>
                    <span class="cd-date">14:00</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                </div>
                <div class="cd-timeline-content">
                    <h2>Event Ends</h2>
                    <span class="cd-date">15:00</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        
        
        
        </section> <!-- cd-timeline -->
    </mat-tab>
  </mat-tab-group>
  

